<%- include("../partials/user/header.ejs") %>
    <link rel="stylesheet" href="/styles/busResult.css">
    <div class="container py-4">
        <!-- Bus Result 1 -->
         <% busData.forEach((bus)=>{ %>
        <div class="bus-result-container">
            <div class="bus-result-company"><%=bus.busName%></div>
            <div class="bus-result-dots">
                <span class="bus-result-dot dot-red"></span>
                <span class="bus-result-dot dot-green"></span>
                <span class="bus-result-dot dot-yellow"></span>
            </div>
            <div class="bus-result-route"><%=bus.routeName%></div>
            <div class="bus-result-line"></div>
            <i class="fas fa-bus bus-result-icon"></i>
            <div class="bus-result-duration"><%=bus.duration%> Hrs</div>
            <div class="bus-result-time bus-result-time-left"><%=bus.arrivalTime%></div>
            <div class="bus-result-time bus-result-time-right"><%=bus.departureTime%></div>
        </div>
        <% }) %>

       
    </div>
    <%- include("../partials/user/footer.ejs") %>